@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', 'arial', cursive;
    background-color: white;
    margin: 0px;
    border: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input {
    font-family: 'Noto Sans KR', 'arial', cursive;
}

#userbtn {
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.54);
    height: 30px;
    width: 80px;
    transition: all 0.2s;
    font-size: 0.9rem;
}

#usertxt {
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.54);
    height: 30px;
    width: 60vw;
    transition: all 0.2s;
    font-size: 0.9rem;
}

#bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 4px;
    background-color: none;
}

#userbtn:hover {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
}

#usertxt:hover {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
}

.bito {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  color: rgb(255,255,255);
  padding-bottom: 3vh;
  text-shadow: 0 0.5px 1px rgba(0,0,0,0.8);
}

.user {
  width: 100%;
  text-align: right;
  font-size: 1.3rem;
  text-shadow: 0 0.5px 1px rgba(0,0,0,0.8);
  color: rgb(240,240,240);
}
@media screen and (min-width: 1280px) {
  #top {
    background-color: #445963;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    font-size: 1.9vw;
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .bito, .user {
    font-size: 1.1rem;
  }
  #usertxt, #userbtn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 333px) {
  .bito, .user {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 280px) {
  .bito, .user {
    font-size: 0.7rem;
  }
}

#bottom {
  margin-bottom: 0px;
  padding-bottom: 2px;
}

#tipnav {
  width: 100%;
  height: 3rem;
  background-color: #fdd835;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#top {
  width: 100%;
  background-color: #445963;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  font-size: 1.2rem;
  color: white;
}
